<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--ALUMNO-->
    <servlet>
        <servlet-name>ServletInsertarAlumno</servlet-name>
        <servlet-class>controladoresServlet.ServletInsertarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarAlumno</servlet-name>
        <servlet-class>controladoresServlet.ServletBorrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarProfesor</servlet-name>
        <servlet-class>controladoresServlet.ServletBorrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogCentroFormacion</servlet-name>
        <servlet-class>controladoresServlet.LogCentroFormacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorServletAlumno</servlet-name>
        <servlet-class>controladoresServlet.ControladorServletAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorServletProfesor</servlet-name>
        <servlet-class>controladoresServlet.ControladorServletProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsertarAlumno</servlet-name>
        <url-pattern>/ServletInsertarAlumno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletActualizarAlumno</servlet-name>
        <servlet-class>controladoresServlet.ServletActualizarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarAlumno</servlet-name>
        <url-pattern>/ServletActualizarAlumno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletMostrarAlumno</servlet-name>
        <servlet-class>controladoresServlet.ServletMostrarAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMostrarAlumno</servlet-name>
        <url-pattern>/ServletMostrarAlumno</url-pattern>
    </servlet-mapping>
    <!--PROFESOR-->
    <servlet>
        <servlet-name>ServletInsertarProfesor</servlet-name>
        <servlet-class>controladoresServlet.ServletInsertarProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletInsertarProfesor</servlet-name>
        <url-pattern>/ServletInsertarProfesor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletActualizarProfesor</servlet-name>
        <servlet-class>controladoresServlet.ServletActualizarProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletActualizarProfesor</servlet-name>
        <url-pattern>/ServletActualizarProfesor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletMostrarProfesor</servlet-name>
        <servlet-class>controladoresServlet.ServletMostrarProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMostrarProfesor</servlet-name>
        <url-pattern>/ServletMostrarProfesor</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ServletBorrarAlumno</servlet-name>
        <url-pattern>/ServletBorrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarProfesor</servlet-name>
        <url-pattern>/ServletBorrarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogCentroFormacion</servlet-name>
        <url-pattern>/LogCentroFormacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorServletAlumno</servlet-name>
        <url-pattern>/ControladorServletAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorServletProfesor</servlet-name>
        <url-pattern>/ControladorServletProfesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
